[phases.setup]
aptPkgs = [
  "libglib2.0-0",
  "libnss3",
  "libnspr4",
  "libatk1.0-0",
  "libatk-bridge2.0-0",
  "libcups2",
  "libdrm2",
  "libdbus-1-3",
  "libxkbcommon0",
  "libxcomposite1",
  "libxdamage1",
  "libxfixes3",
  "libxrandr2",
  "libgbm1",
  "libasound2t64",
  "libatspi2.0-0",
  "libxshmfence1"
]

[phases.install]
cmds = [
  "cd apps/backend",
  "npm install --include=dev"
]

[phases.build]
cmds = [
  "cd apps/backend && npm run build"
]

[start]
cmd = "cd apps/backend && npm start"



