[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "export PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true",
  "npm install"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "npm start"

